@import "tailwindcss";

@theme {
  /* --color-darkred: #780000; */
  --color-darkred: #d2222d;
  --color-brightred: #f00223;
  --color-beige: #fdf0d5;
  --color-darkblue: #003049;
  /* --color-lightblue: #669bbc; */
  --color-lightblue: #79bbe8;
  --color-lighthover: #ffb52a;
  --color-brightgreen: #00c12d;
  --color-govblack: #0b0c0c;
  --color-govblue: #1d70b8;
  --color-govbluehover: #003078;
  --color-govgreen: #005a30;
  --color-govbluebutton: #1d609d;
  --color-govbuttonhover: #00b1eb;
}

/* TODO */
/* 
- Validation
- Error handling
- Unit testing
- Add back button/link to form
- Option to sort tasks (i.e via last updated, due date, status, etc)
- Documentation including API routes
   */
